@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('components/banner.css');

@font-face{
  font-family: 'Gabriola';
  src: url('Gabriola.ttf');
}

body{
  font-size: 62.5%;
}

.logo-signorita{
  padding: 30px;
  margin: 0;
  display: inline-block;
  color: rgba(255,255,255,0.7);
  opacity: 1;
}

.signorita{
  font-family: 'Gabriola';
  font-size: 12em;
  font-weight: lighter;
  -moz-font-feature-settings: "ss07";
    -webkit-font-feature-settings: "ss07";
    font-feature-settings: "ss07";
    margin: 0;
    text-align: right;
}

.moda-festa{
  font-family: 'Gabriola';
  font-size: 40px;
  font-weight: lighter;
  margin: 0;
  text-align: right;
  position: relative;
  top: -40px
}
