@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('components/banner.css');

@font-face{
  font-family: 'Gabriola';
  src: url('Gabriola.ttf');
}

.logo-signorita{
  margin: 0;
  display: inline-block;
  color: rgba(255,255,255,0.7);
  opacity: 1;
  position: relative;
  margin-bottom: 60px;
}

.signorita{
  font-family: 'Gabriola';
  font-size: 18vw;
  font-weight: lighter;
  -moz-font-feature-settings: "ss07";
    -webkit-font-feature-settings: "ss07";
    font-feature-settings: "ss07";
    margin: 0;
    text-align: right;
}

.moda-festa{
  font-family: 'Gabriola';
  font-size: 5vw;
  font-weight: lighter;
  margin: 0;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
